.container { width: 1000px; margin: 0 auto; }
.row {margin-bottom: 5px; width: 100%; padding: 5px; position: relative; height: 50px; border: 1px solid #CCC; border-radius: 3px}
.avatar { width: 36px; margin: 7px }
.pull-left {float: left;}
.sha {right:5px; position:absolute; bottom:5px}
.description {position: relative;bottom: -4px;margin: 5px 0;}
.refresh {
	padding: 10px 20px;
    font-size: 20px;
    border: 2px solid #7b7b7b;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}
.light-blue {background: #E6F1F6}